<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>HARE</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
	integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
	crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Lato"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Muli"
	rel="stylesheet">

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
	integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
	integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
	integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
	crossorigin="anonymous"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="js/interaction.js"></script>
<!-- Plugin JavaScript -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.compatibility.min.js.map"></script>

<!-- Custom scripts for this template -->
<script src="js/new-age.min.js"></script>

<!-- Custom styles for this template -->
<link href="css/new-age.css" rel="stylesheet">

<script src="js/interaction.js"></script>
</head>

<body id="page-top">

	<header class="masthead">
		<div class="container h-100">
			<div class="row h-100">
				<div class="col-lg-7 my-auto">
					<div class="header-content mx-auto">
						<h1 class="mb-5">Holistic and Scalable Ranking of RDF Data
							(HARE)</h1>
					</div>
				</div>
				<div class="col-lg-5 my-auto">
					<a href="" class="btn btn-outline btn-xl js-scroll-trigger">
						Code</a> <a href="" class="btn btn-outline btn-xl js-scroll-trigger">
						Publication </a>
				</div>
			</div>
		</div>
	</header>

	<section class="dataset bg-primary text-center" id="dataset">
		<div class="container">
			<div class="row">
				<div class="col-md-8 mx-auto">
					<h2 class="section-heading">Dataset</h2>
					<p>Select Dataset which you want to see ranks for!</p>
				</div>
			</div>
			<form id="datasetList" >
				<fieldset class="form-group row">
					<div class="col-sm-10">
						<select class="form-control form-control-lg" id="selectedDataset">
							<option value="dbpedia"> DBpedia</option>
							<option value="airport"> Airport</option>
							<option value="test">  Test</option>
						</select>
					</div>
				</fieldset>
				<div class="form-group row">
					<div class="offset-sm-2 col-sm-10">
						<button type="submit"
							class="btn btn-outlinesubmit btn-xl js-scroll-trigger"
							onclick="getClassList()">Submit</button>
					</div>
				</div>
			</form>
		</div>
	</section>

	<section class="classesSelction bg-primary" id="classesSelction" >
		<div class="container">
			<div class="section-heading text-center">
				<h2>Class</h2>
				<p>Select a class to see the ranks of its resources!</p>
				<hr>
			</div>

			<form id="classList">
				<fieldset class="form-group row">
					<div class="col-sm-10">
						<div class="form-check" id="classList"></div>

					</div>
				</fieldset>
				<div class="form-group row">
					<div class="offset-sm-2 col-sm-10">
						<button type="submit"
							class="btn btn-outlinesubmit btn-xl js-scroll-trigger">Submit</button>
					</div>
				</div>
			</form>
		</div>

	</section>
	<section class="resultsRanking bg-primary" id="resultsRanking">
		<div class="container">
			<div class="col-md-8 mx-auto">
				<h2 class="section-heading">Entities and Triples With Rankings</h2>
				<table class="table">
					<thead class="thead-inverse">
						<tr>
							<th>#</th>
							<th>Entities</th>
							<th>Rank</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">1</th>
							<td>Mark</td>
							<td>Otto</td>

						</tr>
						<tr>
							<th scope="row">2</th>
							<td>Jacob</td>
							<td>Thornton</td>

						</tr>
						<tr>
							<th scope="row">3</th>
							<td>Larry</td>
							<td>the Bird</td>

						</tr>
					</tbody>
				</table>

				<table class="table">
					<thead class="thead-inverse">
						<tr>
							<th>#</th>
							<th>Triples</th>
							<th>Rank</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">1</th>
							<td>Mark</td>
							<td>Otto</td>

						</tr>
						<tr>
							<th scope="row">2</th>
							<td>Jacob</td>
							<td>Thornton</td>

						</tr>
						<tr>
							<th scope="row">3</th>
							<td>Larry</td>
							<td>the Bird</td>

						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</section>

	<footer>
		<div class="container">
			<p>&copy; DICE Group</p>
		</div>
	</footer>





</body>

</html>
